div {
    color: rgb(210, 33, 33);
    width: 750px;
    height: 200px;
    padding: 20px;
    margin: 10px;
}

h1 {
    color: rgb(210, 33, 33);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
h2 {
    color: rgb(56, 13, 228);
    font-size: 1.5em;
    
    text-align: center;
}